

.container {
  display: flex;
  justify-content: center;
  background-color: #AEE1E1;
  font-family: 'Montserrat', sans-serif;
}

button {
  background-color: #c0a9ec;
  color: rgb(8, 7, 7);
  border: none;
  text-transform: uppercase;
  margin-top: 20px;
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
}
p {
  margin-left:100px;
  margin-right: 100px;
}

.btn {
  display: flex;
  justify-content: space-evenly;
}
